// Typography styles 

$fontPath: "../../../public/font/";

// Imports
@font-face {
  font-family: "Plex";
  src: url(#{$fontPath + 'ibmplexsans-regular-webfont.woff2'}) format("woff2"),
    url(#{$fontPath + 'ibmplexsans-regular-webfont.woff'}) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src: url(#{$fontPath + 'ibmplexsans-italic-webfont.woff2'}) format("woff2"),
    url(#{$fontPath + 'ibmplexsans-italic-webfont.woff'}) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Plex";
  src: url(#{$fontPath + 'ibmplexsans-semibold-webfont.woff2'}) format("woff2"),
    url(#{$fontPath + 'ibmplexsans-semibold-webfont.woff'}) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src: url(#{$fontPath + 'ibmplexsans-semibolditalic-webfont.woff2'})
      format("woff2"),
    url(#{$fontPath + 'ibmplexsans-semibolditalic-webfont.woff'}) format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PlexCondensed";
  src: url(#{$fontPath + 'ibmplexsanscondensed-regular-webfont.woff2'})
      format("woff2"),
    url(#{$fontPath + 'ibmplexsanscondensed-regular-webfont.woff'})
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlexCondensed";
  src: url(#{$fontPath + 'ibmplexsanscondensed-bold-webfont.woff2'})
      format("woff2"),
    url(#{$fontPath + 'ibmplexsanscondensed-bold-webfont.woff'}) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  // letter-spacing: 0.1em;
}

// disable selection in the UI
* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

// enable in the help 
.formatted * {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.formatted {
  // base typography
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 1.4rem;
    margin-top: 0;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.3;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.35;
  }

  h5 {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 0.75rem;
    line-height: 1.4;
  }

  p {
    margin: 1.5rem 0 1.5rem 0;
  }

  b, strong {
    font-weight: bold;
  }

  a {
    color: $appColor;
    text-decoration: none;
  }

  a:focus, a:hover {
    color: $appColorFocus;
  }

  table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
  }
  
  td, th {
    border-bottom: 0.1rem solid $appBorderColor;
    padding: 1.2rem 1.5rem;
  }
  
  td:first-child,
  th:first-child {
    padding-left: 0;
  }
  
  td:last-child,
  th:last-child {
    padding-right: 0;
  }
  
  dl, ol, ul {
    list-style: none;
    list-style-position: outside;
    margin: $appIndent 0 $appIndent $appIndent;
    padding-left: 0;
  }
  
  dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
    font-size: 90%;
    margin: $appIndent 0 $appIndent ($appIndent * 2);
  }
  
  ol {
    list-style: decimal outside;
  }
  
  ul {
    list-style: circle outside;
  }
  
  dd, dt, li {
    margin-bottom: 0;
  }

  li + li {
    margin-top: $appPadding;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    border: 0;
    border-top: 0.1rem solid $appBorderColor;
    margin: 3.0rem 0;
  }
}

// utility classes
.indent {
    padding-left: $appIndent;
}

.secondary {
    color: $appColorSecondary;
}