// Variables 

$baseFont: Plex, Verdana, Geneva, Tahoma, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 1.4em;

$topNavHeight: 4rem;
$queryColWidth: 20rem;
$viewColWidth: 16rem;

$appPadding: 0.625rem;
$appBorderRadius: 0.375rem;
$appIndent: 1.5rem;

$appColor: #ffffff;
$appColorSecondary: #919295;
$appColorDark: #08090b;
$appColorFocus: #03afbf;
$appColorInverted: #000000;

$appBackground: #21252b;
$appBackgroundTransparent: rgba(62,68,80,0.65);
$employeRecordTransparent: rgba(62,68,80,0.85);
$appBackgroundInverted: #919295;

$appBorderColor: #4e5155;

$vizBgColor: #000000;