// View component styles

.View {
    margin-top: $appPadding;
    border-radius: 0;
    border: 1px solid $appBackgroundTransparent;
    background-color: $appBackgroundTransparent;
    padding: $appPadding;

    .inner {
        padding: $appPadding;
    }
}

.ViewInfo {
    border-radius: 0;
    border: 1px solid $appBackgroundTransparent;
}

.inner p {
    margin-bottom: 0.625em;
}